* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #fbffd6;
}

#nav {
  background-color: transparent !important;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

#left-nav {
  background-color: #9BEC00;
  border-radius: 2.5em; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#right-nav {
  background-color: #F3FF90;
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
  padding: 1em 5em ;
  margin-right: -11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#landing-design {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  background-color: #9BEC00;
  background-image: url('../image/landing-design.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.scrollwise-set1{
  height: 50%;
  width: 50%;
}
.scrollwise-set2 {
  height: 50%;
  width: 50%;
  margin-left: 50% !important;
}
.scrollwise-style1 {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.scrollwise-style2 {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* marquee start */
@keyframes marqueeLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes marqueeRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.scrollwise-style2.top {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: marqueeLeftToRight 8s linear infinite;
}

.scrollwise-style2.bot {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: marqueeRightToLeft 8s linear infinite; /* Apply infinite marquee animation */
}

/* marquee end */

#headline {
  font-size: 1.5em;
  font-family: 'Catamaran', sans-serif;
}
#dynamic-registered {
  color: #06D001;
  font-weight: bold;
}

/* about */
#about-title {
  background-color: #F3FF90;
  border-top-right-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  padding: 1em 5em ;
  position: absolute;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  font-weight: bold;
  color: #1E400F;
}
#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9BEC00;
  box-shadow: 
  inset 0 0 0 25px #9BEC00, /* Gap color same as background */
  inset 0 0 0 30px #F3FF90; /* Inner border */
  border-radius: 15px; /* Adjust the radius as needed */
}

#about-container p {
  padding: 50px 80px;
  text-align: left;
  font-weight: 300;
  font-size: 2em;
  font-family: 'Catamaran', sans-serif;
  flex: 1;
}
#about-container img {
  width: 600px;
  height: 700px;
  flex: 1;
}

/* demo section */
#demo-container {
  display: flex;
  
  justify-content: center;
  margin-top: 100px;
}


#demo-container .vid-container {
  flex: 1.5;
}

#demo-container #more-container {
  flex: 1.5;
}
#learn-more {
  font-size: 28px;
  color: #1E400F;
  font-weight: 700;
  margin-left: 40px;
}
#main-cto {
  border-radius: 2.5em;
  padding: 20px 30px;
  border: none;
  font-size: 24px;
  color: #F3FF90;
  background-color: #1E400F;
  width: 60%;
  margin-left: 40px;
}
#more-container-inner {
  background-image: url('../image/bg-learn-more.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
}
#video-playing {
  border-radius: 25px;
}

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* design elements */
body {
  position: relative;
  z-index: 1;
}
.circle-1 {
  position: absolute;
  right: 200px;
  top: 580px;
  z-index: -999;
}
#iphone-mockup {
  z-index: 10;
}
.circle-2 {
  position: absolute;
  right: 160px;
  top: 730px;
  z-index: 9;
}
.circle-4 {
  position: absolute;
  right: 400px;
  top: 1020px;
  z-index: 9;
}
.circle-3 {
  position: absolute;
  left: 400px;
  top: 1100px;
  z-index: -1;
}
.circle-7 {
  position: absolute;
  left: 150px;
  top: 1150px;
  z-index: -2;
}
.circle-5{
  position: absolute;
  right: 15px;
  top: 1450px;
  z-index: -2;
}
.circle-6{
  position: absolute;
  left: 525px;
  top: 1700px;
  z-index: -2;
}

/* For small screens (like smartphones) */
@media only screen and (max-width: 599px) {

  #nav {
    margin: 0;
    padding: 0;
  }
  #left-nav {
    background-color: transparent;
    border-radius: 0em; 
    margin: 0;
    padding: 0;
    box-shadow: 0;

  }
  #right-nav {
    display: none;
    box-shadow: 0;
  }

  #landing-design {
    display: none;
  }
  #iphone-mockup {
    margin-top: 100px;
    max-height: 300px;
    max-width: 300px;
  }
  #about-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #9BEC00;
    box-shadow: 
    inset 0 0 0 25px #9BEC00, /* Gap color same as background */
    inset 0 0 0 30px #F3FF90; /* Inner border */
    border-radius: 15px; /* Adjust the radius as needed */
  }
  #about-container img {
    width: 300px;
    height: 300px;
    flex: 1;
  }
  #about-container p {
    padding: 0px 40px 40px 40px;
    line-height: 2;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Catamaran', sans-serif;
    flex: 1;
    text-align: justify;
  }
  .circle-1 {
    position: absolute;
    right: 200px;
    top: 580px;
    z-index: -999;
  }
  .circle-2 {
    display: none;
    position: absolute;
    right: 160px;
    top: 730px;
    z-index: 9;
  }
  .circle-4 {
    display: none;
    position: absolute;
    right: 400px;
    top: 1020px;
    z-index: 9;
  }
  .circle-3 {
    display: none;
    position: absolute;
    left: 400px;
    top: 1100px;
    z-index: -1;
  }
  .circle-7 {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 250px;
    top: 1150;
    z-index: -2;
  }
  .circle-5{
    display: none;
    position: absolute;
    right: 15px;
    top: 1450px;
    z-index: -2;
  }
  .circle-6{
    display: none;
    position: absolute;
    left: 525px;
    top: 1700px;
    z-index: -2;
  }
  /* demo section */
#demo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
#demo-container .vid-container {
  flex: 1.5;
  width: 100%;
}

#demo-container #more-container {
  flex: 1.5;
}
video {
  height: 400px;
}
#learn-more {
  font-size: 28px;
  color: #1E400F;
  font-weight: 700;
  margin-right: 20px;
}
#main-cto {
  border-radius: 2.5em;
  padding: 20px 30px;
  border: none;
  font-size: 16px;
  color: #F3FF90;
  background-color: #1E400F;
  width: 60%;
  margin-left: 80px;
  margin-top: 20px;
}
#demo-container #more-container {
  flex: 1.5;
  margin-top: 100px;
}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {

}
