* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #fbffd6;
}

#nav {
  background-color: transparent !important;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 99;
}

#left-nav {
  background: rgba(155, 236, 0, .5);
  border-radius: 2.5em; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* safari */
}

#right-nav {
  background-color: rgba(243, 255, 144, .5);
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
  padding: 1em 5em ;
  margin-right: -11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* safari */
}

#landing-design {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  background-color: #9BEC00;
  background-image: url('../image/landing-design.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.scrollwise-set1{
  height: 50%;
  width: 50%;
}
.scrollwise-set2 {
  height: 50%;
  width: 50%;
  margin-left: 50% !important;
}
.scrollwise-style1 {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-1.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollwise-style2 {
  height: 50%;
  width: 100%;
  background-image: url('../image/scrollwise-style-2.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


/* marquee start */
@keyframes marqueeLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes marqueeRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.scrollwise-style2.top {
  animation: marqueeLeftToRight 8s linear infinite;
}

.scrollwise-style2.bot {
  animation: marqueeRightToLeft 8s linear infinite; /* Apply infinite marquee animation */
}

/* marquee end */

#headline {
  font-size: 1.5rem;
  font-family: 'Catamaran', sans-serif;
}
#dynamic-registered {
  color: #06D001;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 .4rem;
}

.cta-btn {
  font-size: 1.2rem;
  background:  #9BEC00;
  padding: .6em 1.5em;
  margin-top: 24px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.cta-btn:hover {
  background: #a6ff00;
  padding: .6em 1.5em;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

/* about */
#about-title {
  background-color: #F3FF90;
  border-top-right-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  padding: 1em 5em;
  position: absolute;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3.125rem;
  font-weight: bold;
  color: #1E400F;
  z-index: 98;
}
#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9BEC00;
  box-shadow: 
  inset 0 0 0 25px #9BEC00, /* Gap color same as background */
  inset 0 0 0 30px #F3FF90; /* Inner border */
  border-radius: 15px; /* Adjust the radius as needed */
}

#about-container p {
  padding: 50px 80px;
  text-align: left;
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Catamaran', sans-serif;
  flex: 1;
  z-index: 97;
}
#about-container img {
  max-width: 37.5vw;
  max-height: 43.75rem;
  flex: 1;
}

/* demo section */
#demo-container {
  display: flex;
  
  justify-content: center;
  margin-top: 100px;
}


#demo-container .vid-container {
  flex: 1.5;
}

#demo-container #more-container {
  flex: 1.5;
}

#learn-more {
  font-size: 1.75rem;
  color: #1E400F;
  font-weight: 700;
  margin-left: 40px;
}

#main-cto {
  border-radius: 2.5em;
  padding: 20px 30px;
  border: none;
  font-size: 1.5rem;
  color: #F3FF90;
  background-color: #1E400F;
  width: 60%;
  margin-left: 40px;
}

#main-cto button {
  border: transparent;
  background-color: transparent;
  color: whitesmoke;
}
#more-container-inner {
  background-image: url('../image/bg-learn-more.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  border-top-left-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
}
#video-playing {
  border-radius: 25px;
    position: relative;
    z-index: 98;
}

/* WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* design elements */
body {
  position: relative;
  z-index: 1;
}
.circle-1 {
  position: absolute;
  right: 200px;
  top: 580px;
  z-index: -999;
}
#iphone-mockup {
  z-index: 10;
}
.circle-2 {
  position: absolute;
  right: 160px;
  top: 730px;
  z-index: 9;
}
.circle-4 {
  position: absolute;
  right: 400px;
  top: 1020px;
  z-index: 9;
}
.circle-3 {
  position: absolute;
  left: 400px;
  top: 1100px;
  z-index: -1;
}
.circle-7 {
  position: absolute;
  left: 150px;
  top: 1150px;
  z-index: -2;
}
.circle-5{
  position: absolute;
  right: 15px;
  top: 1450px;
  z-index: -2;
}
.circle-6{
  position: absolute;
  left: 525px;
  top: 1700px;
  z-index: -2;
}
