
/* about page media query */
@media (max-width: 1200px) {

  #about-container p {
    padding: 50px 80px;
    text-align: left;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: 'Catamaran', sans-serif;
    flex: 1;
    z-index: 97;
  }

  #about-title {
    background-color: #F3FF90;
    border-top-right-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    padding: 1em 5em;
    position: absolute;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-weight: bold;
    color: #1E400F;
    z-index: 98;
  }
}

/* about page media query */
@media (max-width: 1000px) {
  .circle {
    display: none;
  }
  
  #about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BEC00;
    box-shadow:
      inset 0 0 0 25px #9BEC00,
      /* Gap color same as background */
      inset 0 0 0 30px #F3FF90;
    /* Inner border */
    border-radius: 15px;
    /* Adjust the radius as needed */
  }

  #about-container p {
    padding: 20px 50px;
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Catamaran', sans-serif;
    flex: 1;
    z-index: 97;
  }

  #about-title {
    background-color: #F3FF90;
    border-top-right-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    padding: .8em 2em;
    font-size: .8rem;
    position: absolute;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-weight: bold;
    color: #1E400F;
    z-index: 98;
  }
}

/* about page media query */
@media (max-width: 800px) {
  #about-container p {
    padding: 10px 30px;
    font-size: .8rem;
  }
}

/* For small screens (like smartphones) */
@media only screen and (max-width: 640px) {

  #nav {
    margin: 0;
    padding: 0;
  }

  #left-nav {
    background-color: transparent;
    border-radius: 0em;
    margin: 0;
    padding: 0;
    box-shadow: 0;

  }

  #landing-design {
    display: none;
  }

  #iphone-mockup {
    margin-top: 100px;
    max-height: 300px;
    max-width: 300px;
  }

  #about-container {
    display: flex;
    flex-direction: column-reverse;
    background-color: #9BEC00;
    box-shadow:
      inset 0 0 0 25px #9BEC00,
      /* Gap color same as background */
      inset 0 0 0 30px #F3FF90;
    /* Inner border */
    border-radius: 15px;
    /* Adjust the radius as needed */
  }

  #about-container img {
    width: 300px;
    height: 300px;
    flex: 1;
  }

  #about-container p {
    padding: 0px 40px 40px 40px;
    line-height: 2;
    text-align: left;
    font-weight: 300;
    font-size: 0.875rem;
    font-family: 'Catamaran', sans-serif;
    flex: 1;
    text-align: justify;
  }



  .circle-1 {
    position: absolute;
    right: 200px;
    top: 580px;
    z-index: -999;
  }

  .circle-2 {
    display: none;
    position: absolute;
    right: 160px;
    top: 730px;
    z-index: 9;
  }

  .circle-4 {
    display: none;
    position: absolute;
    right: 400px;
    top: 1020px;
    z-index: 9;
  }

  .circle-3 {
    display: none;
    position: absolute;
    left: 400px;
    top: 1100px;
    z-index: -1;
  }

  .circle-7 {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 250px;
    top: 1150;
    z-index: -2;
  }

  .circle-5 {
    display: none;
    position: absolute;
    right: 15px;
    top: 1450px;
    z-index: -2;
  }

  .circle-6 {
    display: none;
    position: absolute;
    left: 525px;
    top: 1700px;
    z-index: -2;
  }

  /* demo section */

  #demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }

  #demo-container .vid-container {
    flex: 1.5;
    width: 100%;
  }

  #demo-container #more-container {
    flex: 1.5;
  }

  video {
    height: 400px;
  }

  #learn-more {
    font-size: 1.75rem;
    color: #1E400F;
    font-weight: 700;
    margin-right: 20px;
  }

  #main-cto {
    border-radius: 2.5em;
    padding: 20px 30px;
    border: none;
    font-size: 16px;
    color: #F3FF90;
    background-color: #1E400F;
    width: 60%;
    margin-left: 80px;
    margin-top: 20px;
  }

  #demo-container #more-container {
    flex: 1.5;
    margin-top: 100px;
  }
}

/* for navbar in less than 768px */
@media (max-width: 768px) {
  #nav {
      background-color: none;
      overflow-x: hidden;
      position: static;
      z-index: 99;
    }
  
    #left-nav {
      background: none;
      border-radius: none;
      box-shadow: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      /* safari */
      text-align: center;
    }
  
    #right-nav {
      background: none;
      border-radius: none;
      box-shadow: none;
      padding: 0;
      margin-right: 0;
      box-shadow: 0;
      backdrop-filter: 0;
      -webkit-backdrop-filter: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      /* safari */
      text-align: center;
      display: block;
      margin-left: 50%;
      transform: translate(-50%, 0);
      color: rgba(0, 0, 0, 0.65);
    }

    #right-nav:hover {
      color: black;
    }
}